/* CSS styling  */

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ddd;
}

/* These apply mainly to index.html*/
.header {
    color: black;
    background-color: #aaa;
    text-align: center;
    margin: 8px auto;
    width: 35%;
    border-radius: 10px;
    border: 3px solid peachpuff;
    padding: 20px 0px;
}

.link{
    color:black;
    font-size: large;
    background-color: #aaa;
}

.recipe{
    padding: 12px;
    text-align: center;
    margin: 12px auto;
    background-color: #aaa;
    width: 50%;
    border-radius: 10px;
    border: 3px solid peachpuff;
}

.list{
    list-style-type: none;
}

/* These apply mainly to recipe pages*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.description,  .macros{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    color: orange;
    background-color: black;
}

.header, .ingredients.header, .steps.header, .description.header{
    text-align: center;
}
.description.text {
    font-size: large;
    text-align: left;
}

.ingredients {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    background-color: green
}


.steps {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    background-color: purple;
}